<main *ngIf="pageData"
      [attr.data-aue-resource]="'urn:aemconnection:' + pageData._path + '/jcr:content/data/master'"
      [attr.data-aue-type]="'reference'"
      [attr.data-aue-label]="'Page (Home)'">

  <app-hero
    [image]="heroImage"
    [title]="heroTitle"
    [content]="heroContent"
  ></app-hero>

  <app-container
    [resource]="'urn:aemconnection:' + pageData._path + '/jcr:content/data/master/featuredServices'"
    type="container"
    label="Featured Services"
    filter="content-fragments"
    className="featured-services-container">
    <!-- Components added from Universal Editor will appear here -->
    <div *ngFor="let service of pageData.featuredServices" class="service-item">
      <h3>{{ service.title }}</h3>
      <p>{{ service.description?.plaintext }}</p>
    </div>
  </app-container>
</main>
